{% extends "base.html" %}

{% block title %}Realista | Matterport.{% endblock %}

{% block main %}

<div class="main">
  <h3>DESCRIPTION</h3>
  <p>One of the most innovative technologies in the market. virtualizar tu espacio en tiempo record y con la más alta calidad, obteniendo fotografías, recorrido virtual y vistas de planta.
    Asimismo ofrece la posibilidad de personalizar el tour con texto, links a páginas web o multimedia como imágenes, audio o vídeo en una gran variedad de formatos, convirtiéndose en una herramienta muy versátil para promocionar alguna propiedad o establecimiento.</p>
</div>
<div class="matterport">
    <iframe width='853' height='480' src='https://my.matterport.com/show/?m=m8JcorizNTC&brand=0&play=1'
    frameborder='0' allowfullscreen allow='xr-spatial-tracking'
    id="show_iframe"></iframe>
    <script>
      var iframe = document.getElementById('show_iframe');
      
      iframe.addEventListener('load', showcaseLoader, true);
      
      function showcaseLoader() {
        try {
          window.MP_SDK.connect(
            iframe, // Obtained earlier
            '44d0c51379574246aa826d3d40332275', // Your API key
            '3.3' // SDK version you are using
            // Use the latest version you can for your app
            )
            .then(loadedShowcaseHandler)
            .catch(handleError);
        }
        catch (e) {
          console.error(e);
        }
      };
    
    
      console.log("Working!");

    </script>

  </div>
  <div class="main">
    <h3>BENEFITS OF MATTERPORT VIRTUAL TOUR</h3>
    <P>Bla,bla, bla</P>
  </div>

{% endblock %}